@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Needle Stick</h1>
    <p class="lead">Welcome! Please log in to see your logged reports or create a new report.</p>
    <p>
        <input type="button" onclick="location.href='@Url.Action("New", "NSticks")'"  class="btn btn-primary btn-lg" value="Report needle stick >>">
        <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View your reported sticks >>">
        <input type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-primary btn-lg" value="Log in >>">
    </p>
</div>

<h2>About</h2>

<p>This application was created with the thought of making needle related accident reporting easier.</p>

<h2>Contact</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>